<h1>重置密码</h1>

<p>
  尊敬的<%= @user.name %>, 您好！
  请点击以下的链接完成您重置登录密码的流程！
</p>
<% target_link = edit_user_password_url(@user, reset_password_token: @user.reset_password_token) %>
<p>
  <%= link_to "重置密码", target_link %>
</p>

<p>
  如果以上链接无法直接打开，请直接复制以下链接到浏览器中打开：<br>
  <%= link_to target_link, target_link %>
</p>

<p>
  <%= link_to "讲稿网", root_url %>——让智慧流动
</p>
