.mobile-version {
  padding: 18px;
  .slide-header {
    padding-bottom: 10px;
    .author-name {
      color: #989898;
      font-size: 16px;
      text-align: right;
      padding: 0px;
    }
    .slide-details {
      h3 {
        color: #3A3A3A;
        font-size: 20px;
        text-align: center;
      }
      p {
        color: #323232;
        font-size: 18px;
        line-height: 1.5em;
        margin: 10px 0 10px;
        text-align: justify;
        word-wrap: break-word;
      }
    }
  }

  .slide-list {
   img {
     width: 100%;
   }
  }
}

