<% content_for :title do %>
  用户协议
<% end %>

<div class="pure-g" id="terms_of_service">
  <article class="pure-u-1">
    <header>
      <h1>
        讲稿网协议（草案）
      </h1>
    </header>
    <p>欢迎您来到讲稿网。</p>
    <p>请您仔细阅读以下条款，如果您对本协议的任何条款表示异议，您可以选择不进入讲稿网。当您注册成功，无论是进入讲稿网，还是在讲稿网上发布任何内容（即「内容」），均意味着您（即「用户」）完全接受本协议项下的全部条款。</p>

    <h2>使用规则</h2>
    <ol>
      <li>
        <p>用户注册成功后，讲稿网将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。</p>
      </li>
      <li>
        <p>用户须对讲稿网的注册信息的真实性、合法性、有效性承担全部责任，用户不得冒充他人；不得利用他人的名义发布任何信息；不得恶意使用注册帐号导致其他用户误认；否则讲稿网有权立即停止提供服务，收回其帐号并由用户独自承担由此而产生的一切法律责任。</p>
      </li>
      <li>
        <p>用户直接或通过各类方式（如 RSS 源和站外 API 引用等）间接使用讲稿网服务和数据的行为，都将被视作已无条件接受本协议全部内容；若用户对本协议的任何条款存在异议，请停止使用讲稿网所提供的全部服务。</p>
      </li>
      <li>
        <p>讲稿网是一个信息分享、传播及获取的平台，用户通过讲稿网发表的信息为公开的信息，其他第三方均可以通过讲稿网获取用户发表的信息，用户对任何信息的发表即认可该信息为公开的信息，并单独对此行为承担法律责任；任何用户不愿被其他第三人获知的信息都不应该在讲稿网上进行发表。</p>
      </li>
      <li>
        <p>用户承诺不得以任何方式利用讲稿网直接或间接从事违反中国法律以及社会公德的行为，讲稿网有权对违反上述承诺的内容予以删除。</p>
      </li>
      <li>
        <p>用户不得利用讲稿网服务制作、上载、复制、发布、传播或者转载如下内容：</p>
        <ul>
          <li>反对宪法所确定的基本原则的；</li>
          <li>危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
          <li>损害国家荣誉和利益的；</li>
          <li>煽动民族仇恨、民族歧视，破坏民族团结的；</li>
          <li>破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
          <li>散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
          <li>散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
          <li>侮辱或者诽谤他人，侵害他人合法权益的；</li>
          <li>含有法律、行政法规禁止的其他内容的信息。</li>
        </ul>
      </li>
      <li>
        <p>讲稿网有权对用户使用讲稿网的情况进行审查和监督，如用户在使用讲稿网时违反任何上述规定，讲稿网或其授权的人有权要求用户改正或直接采取一切必要的措施（包括但不限于更改或删除用户张贴的内容、暂停或终止用户使用讲稿网的权利）以减轻用户不当行为造成的影响。</p>
      </li>
    </ol>

    <h2>知识产权</h2>

    <p>讲稿网是一个信息获取、分享及传播的平台，我们尊重和鼓励讲稿网用户创作的内容，认识到保护知识产权对讲稿网生存与发展的重要性，承诺将保护知识产权作为讲稿网运营的基本原则之一。</p>
    <ol>
      <li>
        <p>用户在讲稿网上发表的全部原创内容（包括但不仅限于讲稿和评论），著作权均归用户本人所有。用户可授权第三方以任何方式使用，不需要得到讲稿网的同意。</p>
      </li>
      <li>
        <p>讲稿网提供的网络服务中包含的标识、版面设计、排版方式、文本、图片、图形等均受著作权、商标权及其它法律保护，未经相关权利人（含讲稿网及其他原始权利人）同意，上述内容均不得在任何平台被直接或间接发布、使用、出于发布或使用目的的改写或再发行，或被用于其他任何商业目的。</p>
      </li>
      <li>
        <p>为了促进知识的分享和传播，用户将其在讲稿网上发表的全部内容，授权讲稿网免费的、不可撤销的、非独家使用许可，讲稿网有权将该内容用于讲稿网各种形态的产品和服务上，包括但不限于网站以及发表的应用或其他互联网产品。</p>
      </li>
      <li>
        <p>第三方若出于非商业目的，将用户在讲稿网上发表的内容转载在讲稿网之外的地方，应当在作品的正文开头的显著位置注明原作者姓名（或原作者在讲稿网上使用的帐号名称），给出原始链接，注明「发表于讲稿网」，并不得对作品进行修改演绎。若需要对作品进行修改，或用于商业目的，第三方应当联系用户获得单独授权，按照用户规定的方式使用该内容。</p>
      </li>
      <li>
        <p>在讲稿网上传或发表的内容，用户应保证其为著作权人或已取得合法授权，并且该内容不会侵犯任何第三方的合法权益。如果第三方提出关于著作权的异议，讲稿网有权根据实际情况删除相关的内容，且有权追究用户的法律责任。给讲稿网或任何第三方造成损失的，用户应负责全额赔偿。</p>
      </li>
      <li>
        <p>如果任何第三方侵犯讲稿网用户相关的权利，用户同意授权讲稿网或其指定的代理人代表讲稿网自身或用户对该第三方提出警告、投诉、发起行政执法、诉讼、进行上诉，或谈判和解，并且用户同意在讲稿网认为必要的情况下参与共同维权。</p>
      </li>
      <li>
        <p>讲稿网有权但无义务对用户发布的内容进行审核，有权根据相关证据结合《侵权责任法》、《信息网络传播权保护条例》等法律法规及讲稿网指导原则对侵权信息进行处理。</p>
      </li>
    </ol>

    <h2>个人隐私</h2>

    <p>尊重用户个人隐私信息的私有性是讲稿网的一贯原则，讲稿网将通过技术手段、强化内部管理等办法充分保护用户的个人隐私信息，除法律或有法律赋予权限的政府部门要求或事先得到用户明确授权等原因外，讲稿网保证不对外公开或向第三方透露用户个人隐私信息，或用户在使用服务时存储的非公开内容。同时，为了运营和改善讲稿网的技术与服务，讲稿网将可能会自行收集使用或向第三方提供用户的非个人隐私信息，这将有助于讲稿网向用户提供更好的用户体验和服务质量。</p>

    <h2>侵权举报</h2>
    <ol>
      <li>
        <p>处理原则</p>
        <p>讲稿网作为讲稿分享、讨论网站，高度重视自由表达和个人、企业正当权利的平衡。依照法律规定删除违法信息是讲稿网的法定义务，讲稿网亦未与任何中介机构合作开展此项业务。</p>
      </li>
      <li>
        <p>受理范围</p>
        <p>受理讲稿网内侵犯企业或个人合法权益的侵权举报，包括但不限于涉及个人隐私、造谣与诽谤、商业侵权。</p>
        <ol>
          <li>涉及个人隐私：发布内容中直接涉及身份信息，如个人姓名、家庭住址、身份证号码、工作单位、私人电话等详细个人隐私；</li>
          <li>造谣、诽谤：发布内容中指名道姓（包括自然人和企业）的直接谩骂、侮辱、虚构中伤、恶意诽谤等；</li>
          <li>商业侵权：泄露企业商业机密及其他根据保密协议不能公开讨论的内容。</li>
        </ol>
      </li>
      <li>
        <p>举报条件</p>
        <p>如果个人或单位发现讲稿网上存在侵犯自身合法权益的内容，请与讲稿网取得联系（邮箱：kf@jianggaowang.com）。为了保证问题能够及时有效地处理，请务必提交真实有效、完整清晰的材料，否则不予受理。请使用以下格式（包括各条款的序号）：</p>
        <ol>
          <li>权利人对涉嫌侵权内容拥有商标权、著作权和/或其他依法可以行使权利的权属证明；如果举报人非权利人，请举报人提供代表企业进行举报的书面授权证明。</li>
          <li>充分、明确地描述侵犯了权利人合法权益的内容，提供涉嫌侵权内容讲稿网上的具体页面地址，指明涉嫌侵权内容中的哪些内容侵犯了上述列明的权利人的合法权益；</li>
          <li>权利人具体的联络信息，包括姓名、身份证或护照复印件（对自然人）、单位登记证明复印件（对单位）、通信地址、电话号码、传真和电子邮件；</li>
          <li>在侵权举报中加入如下关于举报内容真实性的声明：
            <ul>
              <li>我本人为所举报内容的合法权利人；</li>
              <li>我举报的发布在讲稿网中的内容侵犯了本人相应的合法权益；</li>
              <li>如果本侵权举报内容不完全属实，本人将承担由此产生的一切法律责任。</li>
            </ul>
          </li>
        </ol>
      </li>
      <li>
        <p>处理流程</p>
        <p>出于网络社区的监督属性，并非所有申请都必须受理。讲稿网自收到举报邮件七个工作日内处理完毕并给出回复。处理期间，不提供任何电话、邮件及其他方式的查询服务。</p>
        <p>出现讲稿网已经删除或处理的内容，但是百度、谷歌等搜索引擎依然可以搜索到的现象，是因为百度、谷歌等搜索引擎自带缓存，此类问题讲稿网无权也无法处理，因此相关申请不予受理。</p>
        <p>此为讲稿网唯一的官方的侵权投诉渠道，暂不提供其他方式处理此业务。</p>
        <p>用户在讲稿网中的商业行为引发的法律纠纷，由交易双方自行处理，与讲稿网无关。</p>
      </li>
    </ol>

    <h2>免责申明</h2>
    <ol>
      <li>
        <p>讲稿网不能对用户发表的讲稿或评论的正确性进行保证。</p>
      </li>
      <li>
        <p>用户在讲稿网发表的内容仅表明其个人的立场和观点，并不代表讲稿网的立场或观点。作为内容的发表者，需自行对所发表内容负责，因所发表内容引发的一切纠纷，由该内容的发表者承担全部法律及连带责任。讲稿网不承担任何法律及连带责任。</p>
      </li>
      <li>
        <p>讲稿网不保证网络服务一定能满足用户的要求，也不保证网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作保证。</p>
      </li>
      <li>
        <p>对于因不可抗力或讲稿网不能控制的原因造成的网络服务中断或其它缺陷，讲稿网不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。</p>
      </li>
    </ol>

    <h2>协议修改</h2>
      <ol>
        <li>
          <p>根据互联网的发展和有关法律、法规及规范性文件的变化，或者因业务发展需要，讲稿网有权对本协议的条款作出修改或变更，一旦本协议的内容发生变动，讲稿网将会直接在讲稿网网站上公布修改之后的协议内容，该公布行为视为讲稿网已经通知用户修改内容。讲稿网也可采用电子邮件的传送方式，提示用户协议条款的修改、服务变更、或其它重要事项。</p>
        </li>
        <li>
          <p>如果不同意讲稿网对本协议相关条款所做的修改，用户有权并应当停止使用讲稿网。如果用户继续使用讲稿网，则视为用户接受讲稿网对本协议相关条款所做的修改。</p>
        </li>
      </ol>
    </div>
    </div>
  </article>
</div>
