<section class="group profile-edit clearfix">
  <header class="group-header with-hr pure-g clearfix">
    <h1 class="group-title pure-u-1">个人资料</h1>
  </header>
  <div class="person-info pure-g clearfix">
    <form class="form-default pure-u-3-4">
      <div class="user-name clearfix">
        <label>用户名</label>
        <input type="text">
      </div>
      <div class="email clearfix">
        <label>邮箱</label>
        <input type="text">
      </div>
      <div class="introduction clearfix">
        <label>个人介绍</label>
        <textarea></textarea>
      </div>
      <div class="btn-operate">
        <a href="#" class="btn-default btn-warning">更新</a>
      </div>
    </form>
    <div class="avatar-wrap pure-u-1-4">
      <div class="edit-avatar">
        <img src="/assets/users/default-avatar.jpg" class="avatar">
        <span class="user-name">coco</span>
        <a href="#" class="btn-default">修改头像</a>
        <input id="modify_avatar" type="file" name="avatar" accept="image/*" required="false">
      </div>
    </div>
  </div>
</section>
<section class="group profile-edit clearfix">
  <header class="group-header with-hr pure-g clearfix">
    <h1 class="group-title pure-u-1">修改密码</h1>
  </header>
  <div class="edit-password pure-g clearfix">
    <form class="form-default pure-u-1">
      <div class="clearfix">
        <label>原密码</label>
        <input type="text">
      </div>
      <div class="clearfix">
        <label>新密码</label>
        <input type="text">
      </div>
      <div class="clearfix">
        <label>确认密码</label>
        <input type="text">
      </div>
      <div class="btn-operate">
        <a href="#" class="btn-default btn-warning">修改</a>
      </div>
    </form>
  </div>
</section>
