<% content_for :title do %>
用户登录
<% end %>

<div class="user-page">
  <div class="user-title clearfix">
    <span class="logo"></span>
    <p>讲稿网，让智慧流动</p>
  </div>
  <div class="login-wrap">
    <ul class="user-toggle">
      <li class="login active">登录</a></li>
      <li class="register ">注册</a></li>
    </ul>
    <form class="user-info user-login">
      <input placeholder="用户名" class="user-name">
      <input placeholder="邮箱" class="email">
      <input placeholder="密码" class="password">
      <input placeholder="确认密码" class="confirm-password">
      <button class="login-btn">登录</button>
      <button class="register-btn">注册</button>
      <a href="javascript:;" class="forget-password">忘记密码？</a>
    </form>
  </div>
</div>
