<aside class="slides-recommend md-hidden pure-u-1 pure-u-lg-1-3">
  <header>推荐讲稿</header>
  <ul class="card-list pure-g">
    <% slides.each do |slide| %>
      <li class="pure-u-1 card-list-item">
        <figcaption class="card">
          <header class="card-header">
            <%= link_to slide_path(slide), class: "card-img" do %>
              <%= image_tag slide_first_or_default_preview_url(slide), alt: slide.title %>
            <% end %>
          </header>
          <footer class="card-footer">
            <figure class="card-title">
              <%= link_to slide.title, slide_path(slide) %>
            </figure>
          </footer>
        </figcaption>
      </li>
    <% end %>
  </ul>
</aside>
