<section class="panel new-slides clearfix">
  <header class="panel-header with-hr clearfix">
    <h1 class="panel-title">上传讲稿</h1>
  </header>
  <div class="slides-wrap clearfix">
    <%= render 'form', { slide: @slide } %>
  </div>
</section>
