<section class="group new-slides clearfix">
  <header class="group-header pure-g clearfix">
    <h1 class="group-title group-tag pure-u-1">上传讲稿</h1>
  </header>
  <div class="slides-wrap pure-g">
    <div class="file-upload pure-u-1-2">
      <div class="cover">
      </div>
      <div class="cover-upload">
        <input type="file" name="pic" accept="image/*" required="false">
        <span>上传讲稿</span><span class="upload"></span>
      </div>
    </div>
    <form class="file-info pure-u-1-2">
      <div class="title clearfix">
        <label>讲稿标题</label>
        <input type="text">
      </div>
      <div class="tag clearfix">
        <label>标签</label>
        <input type="text">
      </div>
      <div class="introduction clearfix">
        <label>讲稿介绍</label>
        <textarea></textarea>
      </div>
      <div class="btn-operate">
        <a href="#" class="btn-default btn-delete">删除讲稿</a>
        <a href="#" class="btn-default btn-warning">上传讲稿</a>
      </div>
    </form>
  </div>
</section>