<% content_for :title do %>
搜索“<%= @keyword %>”
<% end %>

<%= render 'shared/search_tips_header', { keyword: @keyword } %>

<section class="panel">
  <ul class="card-list pure-g">
    <% if @slides.any? %>
      <%= render partial: "slide_item", collection: @slides, as: :slide %>
    <% else %>
      <div class="pure-u-1">没有讲稿。</div>
    <% end %>
  </ul>
</section>
<%= paginate @slides %>
