<!-- Inside the index+phone.html.erb -->
<div class="slide-header">
  <div class="slide-details">
    <h3><%= @slide.title %></h3>
    <div class="author-name">作者：<%= @slide.user.name %></div>
    <p><%= @slide.description %></p>
  </div>
</div>

<div class="slide-list">
  <% @slide.previews.each do |preview| %>
    <%= image_tag resource_url(preview.filename) %>
  <% end %>
</div>
