
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1460543342'); /* IE9*/
  src: url('iconfont.eot?t=1460543342#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1460543342') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1460543342') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1460543342#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before { content: "\e601"; }
.icon-github:before { content: "\e600"; }
.icon-menu:before { content: "\e602"; }
.icon-edit:before { content: "\e604"; }
.icon-logout:before { content: "\e605"; }
.icon-upload:before { content: "\e606"; }
.icon-user:before { content: "\e607"; }
.icon-book:before { content: "\e603"; }
.icon-position:before { content: "\e608"; }
.icon-time:before { content: "\e609"; }
