/*
 *= require wangEditor
 */


@font-face {
  font-family: 'icomoon';
  src: font-url('icomoon.eot?-qdfu1s');
  src: font-url('icomoon.eot?#iefix-qdfu1s') format('embedded-opentype'), font-url('icomoon.ttf?-qdfu1s') format('truetype'), font-url('icomoon.woff?-qdfu1s') format('woff'), font-url('icomoon.svg?-qdfu1s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
