<% content_for :title do %>
重置密码
<% end %>

<div class="user-page">
  <div class="user-title clearfix">
    <span class="logo"></span>
    <p>讲稿网，让智慧流动</p>
  </div>
  <div class="find-password">
    <h2>找回密码</h2>
    <form class="user-info">
      <input placeholder="邮箱" class="user-email" type="text">
      <span class="account-tip">用户不存在</span>
      <button class="confirm-btn btn-default">确认</button>
    </form>
    <p>注意：我们将会发送一封用于确认重置密码的邮件到您注册的电子邮箱，请您按照邮件指引完成密码重置</p>
  </div>
</div>
