<ul class="categories-list">
  <% all_categories = Category.all %>
  <li>
    <%= link_to "所有讲稿（#{all_categories.map(&:slides_count).sum rescue 0}）", all_categories_path %>
  </li>
  <li>
    <%= link_to "热门讲稿（#{Slide.hotest.count}）", hotest_categories_path %>
  </li>
  <li>
    <%= link_to "最新讲稿（#{Slide.newest.count}）", newest_categories_path %>
  </li>
  <% all_categories.each do |category| %>
    <li><%= link_to "#{category.name}（#{category.slides_count.to_i}）", category %></li>
  <% end %>
</ul>
