<footer class="footer">
  <span>&copy; <%= Date.today.year %> ICP证: 粤ICP备15040562号</span>
  <span>版权所有: <a href="http://beansmile.com/">广州乐豆信息科技有限公司</a></span>
  <a class="footer-github" href="https://github.com/beansmile/jianggaowang">
    <i class="icon-github"></i> Github
  </a>
</footer>
