<footer class="footer">
  <span>&copy; <%= Date.today.year %> <a href="http://beansmile.com/" class="bs-site">广州乐豆信息科技有限公司</a></span>
  <a href="http://www.miitbeian.gov.cn/">粤ICP备15040562号</a>
  <%= link_to "用户协议", terms_of_service_path %>
  <a href="https://github.com/beansmile/jianggaowang">
    <i class="icon-github"></i> Github
  </a>
</footer>
