<footer>
  <div class="row">
    <div class="col-md-12">
      <div class="footer">
        <div class="container">
          <div class="clearfix">
            <dl class="footer-nav">
              <dt class="nav-title">本站资源</dt>
              <dd class="nav-item"><a href="#">关于讲稿网</a></dd>
              <dd class="nav-item"><a href="#">联系我们</a></dd>
              <dd class="nav-item"><a href="#">版权说明</a></dd>
            </dl>
            <dl class="footer-nav">
              <dt class="nav-title">友情链接</dt>
              <dd class="nav-item"><a href="http://beansmile.com/">广州乐豆信息科技有限公司</a></dd>
            </dl>
          <div class="footer-copyright text-center">讲稿网版权所有 © 2014 All rights reserved.</div>
        </div>
      </div>
    </div>
  </div>
</footer>
