<footer>
  <div class="row">
    <div class="col-md-12">
      <div class="footer">
        <div class="container">
          <div class="clearfix">
            <div class="footer-copyright text-center">
              © <%= Date.today.year %> ICP证: 粤ICP备15040562号 版权所有: <a href="http://beansmile.com/">广州乐豆信息科技有限公司</a>（讲稿版权归作者所有）

              <%= image_tag "github.png", class: "github img-rounded" %>
              <a href="https://github.com/beansmile/jianggaowang"> Github </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</footer>
