<ul class="pure-menu-list pure-u-1 pure-u-lg-4-24 header-user">
  <li class="pure-menu-item">
    <%= link_to login_path, class: 'pure-menu-link' do %>
      登录
    <% end %>
  </li>
  <li class="pure-menu-item">
    <%= link_to signup_path, class: 'pure-menu-link' do %>
      注册
    <% end %>
  </li>
</ul>
