<li>
  <%= link_to new_slide_path do %>
    <span class="glyphicon glyphicon-upload"></span>上传
  <% end %>
</li>

<li>
  <%= link_to login_path do %>
    <span class="glyphicon glyphicon-log-in"></span>登录
  <% end %>
</li>

<li>
  <%= link_to signup_path do %>
    <span class="glyphicon glyphicon-user"></span>注册
  <% end %>
</li>
