<!-- header -->
<header class="header clearfix">
  <div class="pure-g pure-menu pure-menu-horizontal custom-can-transform">

    <div class="pure-u-1 header-logo">
      <%= link_to root_path, class: 'pure-menu-heading pure-menu-link' do %>
        讲稿网
      <% end %>
    </div>
    
    <ul class="pure-menu-list pure-u-1 pure-u-lg-6-24 header-menu">
      <li class="pure-menu-item">
        <%= link_to root_path, class: 'pure-menu-link' do %>
          首页
        <% end %>
      </li>
      <li class="pure-menu-item"><a href="#" class="pure-menu-link">活动</a></li>
      <li class="pure-menu-item"><a href="#" class="pure-menu-link">标签</a></li>
    </ul>

    <form action="" class="pure-form pure-u-1 pure-u-lg-6-24">
       <input type="text" placeholder="输入关键字搜索" class="pure-u-1">
       <button type="submit" class="pure-button"><i class="icon-search"></i></button>
    </form>

    <% if current_user %>
      <%= render "shared/signed_in_user_navbar_items" %>
    <% else %>
      <%= render "shared/guest_user_navbar_items" %>
    <% end %>

  </div>
</header>
<!-- header END -->
