<% content_for :title do %>
  首页
<% end %>

<div id="events-index-page">
  <div class="row" id="isotope-container">
    <% if @events.any? %>
      <%= render partial: "events/event_item", collection: @events, as: :event %>
    <% else %>
      没有活动。
    <% end %>
  </div>
  <div class="row text-center">
    <%= paginate @events %>
  </div>
</div>
