<!-- search tips -->
<section class="search-tips">
  <div class="pure-g">
    <p class="tip-info pure-u-1">“关键字”的讲稿搜索结果</p>
  </div>
</section>
<!-- End search tips -->

<!-- Group: include a title and a card list -->
<section class="group">
  <header class="group-header pure-g clearfix">
    <h4 class="group-title pure-u-1-2">最新活动</h4>
    <a href="" class="group-link pure-u-1-2">查看全部</a>
  </header>

  <!-- Card list -->
  <ul class="card-list pure-g">
    <li class="pure-u-1 pure-u-lg-1-4 card-list-item">
      <figcaption class="card">
        <header class="card-header">
          <a href="#" class="card-img">
            <img src="/assets/placeholder.png" alt="demo">
          </a>
        </header>
        <footer class="card-footer">
          <figure class="card-title">
            <a href="#">我是长标题我是长标题我是长标题我是长标题我是长标题我是长标题</a>
          </figure>
          <time class="card-date">2016年4月11日</time>
        </footer>
      </figcaption>
    </li>
    <li class="pure-u-1 pure-u-lg-1-4 card-list-item">
      <figcaption class="card">
        <header class="card-header">
          <a href="#" class="card-img">
            <img src="/assets/placeholder.png" alt="demo">
          </a>
        </header>
        <footer class="card-footer">
          <figure class="card-title">
            <a href="#">我是长标题我是长标题我是长标题我是长标题我是长标题我是长标题</a>
          </figure>
          <time class="card-date">2016年4月11日</time>
        </footer>
      </figcaption>
    </li>  
    <li class="pure-u-1 pure-u-lg-1-4 card-list-item">
      <figcaption class="card">
        <header class="card-header">
          <a href="#" class="card-img">
            <img src="/assets/placeholder.png" alt="demo">
          </a>
        </header>
        <footer class="card-footer">
          <figure class="card-title">
            <a href="#">我是长标题我是长标题我是长标题我是长标题我是长标题我是长标题</a>
          </figure>
          <time class="card-date">2016年4月11日</time>
        </footer>
      </figcaption>
    </li>  
    <li class="pure-u-1 pure-u-lg-1-4 card-list-item">
      <figcaption class="card">
        <header class="card-header">
          <a href="#" class="card-img">
            <img src="/assets/placeholder.png" alt="demo">
          </a>
        </header>
        <footer class="card-footer">
          <figure class="card-title">
            <a href="#">我是长标题我是长标题我是长标题我是长标题我是长标题我是长标题</a>
          </figure>
          <time class="card-date">2016年4月11日</time>
        </footer>
      </figcaption>
    </li>
  </ul>
  <!-- END card list -->
</section>
<!-- END Group -->

<!-- Group: include a tag-title and a card list -->
<section class="group">
  <header class="group-header pure-g clearfix">
    <h4 class="group-title group-tag pure-u-1">ruby</h4>
  </header>

  <!-- Card list with author -->
  <ul class="card-list pure-g">
    <li class="pure-u-1 pure-u-lg-1-4 card-list-item">
      <figcaption class="card">
        <header class="card-header">
          <a href="#" class="card-img">
            <img src="/assets/placeholder.png" alt="demo">
          </a>
        </header>
        <footer class="card-footer">
          <figure class="card-title">
            <a href="#">我是长标题我是长标题我是长标题我是长标题我是长标题我是长标题</a>
          </figure>
          <address class="card-author">
            <a href="#">zack, zhang</a>
          </address>
          <time class="card-date">2016年4月11日</time>
        </footer>
      </figcaption>
    </li>
    <li class="pure-u-1 pure-u-lg-1-4 card-list-item">
      <figcaption class="card">
        <header class="card-header">
          <a href="#" class="card-img">
            <img src="/assets/placeholder.png" alt="demo">
          </a>
        </header>
        <footer class="card-footer">
          <figure class="card-title">
            <a href="#">我是长标题我是长标题我是长标题我是长标题我是长标题我是长标题</a>
          </figure>
          <address class="card-author">
            <a href="#">zack, zhang</a>
          </address>
          <time class="card-date">2016年4月11日</time>
        </footer>
      </figcaption>
    </li>  
    <li class="pure-u-1 pure-u-lg-1-4 card-list-item">
      <figcaption class="card">
        <header class="card-header">
          <a href="#" class="card-img">
            <img src="/assets/placeholder.png" alt="demo">
          </a>
        </header>
        <footer class="card-footer">
          <figure class="card-title">
            <a href="#">我是长标题我是长标题我是长标题我是长标题我是长标题我是长标题</a>
          </figure>
          <address class="card-author">
            <a href="#">zack, zhang</a>
          </address>
          <time class="card-date">2016年4月11日</time>
        </footer>
      </figcaption>
    </li>  
    <li class="pure-u-1 pure-u-lg-1-4 card-list-item">
      <figcaption class="card">
        <header class="card-header">
          <a href="#" class="card-img">
            <img src="/assets/placeholder.png" alt="demo">
          </a>
        </header>
        <footer class="card-footer">
          <figure class="card-title">
            <a href="#">我是长标题我是长标题我是长标题我是长标题我是长标题我是长标题</a>
          </figure>
          <address class="card-author">
            <a href="#">zack, zhang</a>
          </address>
          <time class="card-date">2016年4月11日</time>
        </footer>
      </figcaption>
    </li>
  </ul>
  <!-- END card list -->
</section>
<!-- END Group -->


<!-- Group: include a tag-title and a tag list -->
<section class="group">
  <header class="group-header pure-g clearfix">
    <h4 class="group-title group-tag pure-u-1">讲稿标签</h4>
  </header>

  <!-- Card list with author -->
  <ul class="tag-list pure-g">
    <li class="tag-list-item">
      <a href="#" class="tag">ruby</a>
    </li>
    <li class="tag-list-item">
      <a href="#" class="tag">java</a>
    </li>
    <li class="tag-list-item">
      <a href="#" class="tag">javascript</a>
    </li>
    <li class="tag-list-item">
      <a href="#" class="tag">html5</a>
    </li>
    <li class="tag-list-item">
      <a href="#" class="tag">css3</a>
    </li>
    <li class="tag-list-item">
      <a href="#" class="tag">GO</a>
    </li>
    <li class="tag-list-item">
      <a href="#" class="tag">C#</a>
    </li>
    <li class="tag-list-item">
      <a href="#" class="tag">ruby on rails</a>
    </li>

  </ul>
  <!-- END card list -->
</section>
<!-- END Group -->

<!-- Pagination -->
<section class="pagination pure-g">
  <ul class="page-list pure-u-1">
    <li><a href="#1" class="page-link disabled">&lt;</a></li>
    <li><a href="#1" class="page-link active">1</a></li>
    <li><a href="#2" class="page-link">2</a></li>
    <li><a href="#3" class="page-link">3</a></li>
    <li class="page-ellipsis">···</li>
    <li><a href="#8" class="page-link">8</a></li>
    <li><a href="#3" class="page-link">&gt;</a></li>
  </ul>
</section>
<!-- END Pagination -->
