<!-- search result tips -->
<section class="search-tips">
  <div class="pure-g">
    <p class="tip-info pure-u-1">“关键字”的讲稿搜索结果</p>
  </div>
</section>


<!-- Group: include a title and a card list -->
<section class="group">
  <header class="group-header pure-g clearfix">
    <h4 class="group-title pure-u-1-2">最新活动</h4>
    <a href="" class="group-link pure-u-1-2">查看全部</a>
  </header>

  <!-- Card list -->
  <ul class="card-list pure-g">
    <li class="pure-u-1 pure-u-lg-1-4 card-list-item">
      <figcaption class="card">
        <header class="card-header">
          <a href="#" class="card-img">
            <img src="/assets/placeholder.png" alt="demo">
          </a>
        </header>
        <footer class="card-footer">
          <figure class="card-title">
            <a href="#">我是长标题我是长标题我是长标题我是长标题我是长标题我是长标题</a>
          </figure>
          <time class="card-date">2016年4月11日</time>
        </footer>
      </figcaption>
    </li>
    <li class="pure-u-1 pure-u-lg-1-4 card-list-item">
      <figcaption class="card">
        <header class="card-header">
          <a href="#" class="card-img">
            <img src="/assets/placeholder.png" alt="demo">
          </a>
        </header>
        <footer class="card-footer">
          <figure class="card-title">
            <a href="#">我是长标题我是长标题我是长标题我是长标题我是长标题我是长标题</a>
          </figure>
          <time class="card-date">2016年4月11日</time>
        </footer>
      </figcaption>
    </li>  
    <li class="pure-u-1 pure-u-lg-1-4 card-list-item">
      <figcaption class="card">
        <header class="card-header">
          <a href="#" class="card-img">
            <img src="/assets/placeholder.png" alt="demo">
          </a>
        </header>
        <footer class="card-footer">
          <figure class="card-title">
            <a href="#">我是长标题我是长标题我是长标题我是长标题我是长标题我是长标题</a>
          </figure>
          <time class="card-date">2016年4月11日</time>
        </footer>
      </figcaption>
    </li>  
    <li class="pure-u-1 pure-u-lg-1-4 card-list-item">
      <figcaption class="card">
        <header class="card-header">
          <a href="#" class="card-img">
            <img src="/assets/placeholder.png" alt="demo">
          </a>
        </header>
        <footer class="card-footer">
          <figure class="card-title">
            <a href="#">我是长标题我是长标题我是长标题我是长标题我是长标题我是长标题</a>
          </figure>
          <time class="card-date">2016年4月11日</time>
        </footer>
      </figcaption>
    </li>
  </ul>
  <!-- END Group -->
</section>
<!-- END Group -->



<!-- Group: include a title and a card list -->
<section class="group">
  <header class="group-header pure-g clearfix">
    <h4 class="group-title pure-u-1-2">最新活动</h4>
    <a href="" class="group-link pure-u-1-2">查看全部</a>
  </header>

  <!-- Card list -->
  <ul class="card-list pure-g">
    <li class="pure-u-1 pure-u-lg-1-4 card-list-item">
      <figcaption class="card">
        <header class="card-header">
          <a href="#" class="card-img">
            <img src="/assets/placeholder.png" alt="demo">
          </a>
        </header>
        <footer class="card-footer">
          <figure class="card-title">
            <a href="#">我是长标题我是长标题我是长标题我是长标题我是长标题我是长标题</a>
          </figure>
          <address class="card-author">
            <a href="#">zack, zhang</a>
          </address>
          <time class="card-date">2016年4月11日</time>
        </footer>
      </figcaption>
    </li>
    <li class="pure-u-1 pure-u-lg-1-4 card-list-item">
      <figcaption class="card">
        <header class="card-header">
          <a href="#" class="card-img">
            <img src="/assets/placeholder.png" alt="demo">
          </a>
        </header>
        <footer class="card-footer">
          <figure class="card-title">
            <a href="#">我是长标题我是长标题我是长标题我是长标题我是长标题我是长标题</a>
          </figure>
          <address class="card-author">
            <a href="#">zack, zhang</a>
          </address>
          <time class="card-date">2016年4月11日</time>
        </footer>
      </figcaption>
    </li>  
    <li class="pure-u-1 pure-u-lg-1-4 card-list-item">
      <figcaption class="card">
        <header class="card-header">
          <a href="#" class="card-img">
            <img src="/assets/placeholder.png" alt="demo">
          </a>
        </header>
        <footer class="card-footer">
          <figure class="card-title">
            <a href="#">我是长标题我是长标题我是长标题我是长标题我是长标题我是长标题</a>
          </figure>
          <address class="card-author">
            <a href="#">zack, zhang</a>
          </address>
          <time class="card-date">2016年4月11日</time>
        </footer>
      </figcaption>
    </li>  
    <li class="pure-u-1 pure-u-lg-1-4 card-list-item">
      <figcaption class="card">
        <header class="card-header">
          <a href="#" class="card-img">
            <img src="/assets/placeholder.png" alt="demo">
          </a>
        </header>
        <footer class="card-footer">
          <figure class="card-title">
            <a href="#">我是长标题我是长标题我是长标题我是长标题我是长标题我是长标题</a>
          </figure>
          <address class="card-author">
            <a href="#">zack, zhang</a>
          </address>
          <time class="card-date">2016年4月11日</time>
        </footer>
      </figcaption>
    </li>
    <li class="pure-u-1 pure-u-lg-1-4 card-list-item">
      <figcaption class="card">
        <header class="card-header">
          <a href="#" class="card-img">
            <img src="/assets/placeholder.png" alt="demo">
          </a>
        </header>
        <footer class="card-footer">
          <figure class="card-title">
            <a href="#">我是长标题我是长标题我是长标题我是长标题我是长标题我是长标题</a>
          </figure>
          <address class="card-author">
            <a href="#">zack, zhang</a>
          </address>
          <time class="card-date">2016年4月11日</time>
        </footer>
      </figcaption>
    </li>
    <li class="pure-u-1 pure-u-lg-1-4 card-list-item">
      <figcaption class="card">
        <header class="card-header">
          <a href="#" class="card-img">
            <img src="/assets/placeholder.png" alt="demo">
          </a>
        </header>
        <footer class="card-footer">
          <figure class="card-title">
            <a href="#">我是长标题我是长标题我是长标题我是长标题我是长标题我是长标题</a>
          </figure>
          <address class="card-author">
            <a href="#">zack, zhang</a>
          </address>
          <time class="card-date">2016年4月11日</time>
        </footer>
      </figcaption>
    </li>  
    <li class="pure-u-1 pure-u-lg-1-4 card-list-item">
      <figcaption class="card">
        <header class="card-header">
          <a href="#" class="card-img">
            <img src="/assets/placeholder.png" alt="demo">
          </a>
        </header>
        <footer class="card-footer">
          <figure class="card-title">
            <a href="#">我是长标题我是长标题我是长标题我是长标题我是长标题我是长标题</a>
          </figure>
          <address class="card-author">
            <a href="#">zack, zhang</a>
          </address>
          <time class="card-date">2016年4月11日</time>
        </footer>
      </figcaption>
    </li>  
    <li class="pure-u-1 pure-u-lg-1-4 card-list-item">
      <figcaption class="card">
        <header class="card-header">
          <a href="#" class="card-img">
            <img src="/assets/placeholder.png" alt="demo">
          </a>
        </header>
        <footer class="card-footer">
          <figure class="card-title">
            <a href="#">我是长标题我是长标题我是长标题我是长标题我是长标题我是长标题</a>
          </figure>
          <address class="card-author">
            <a href="#">zack, zhang</a>
          </address>
          <time class="card-date">2016年4月11日</time>
        </footer>
      </figcaption>
    </li>
  </ul>
  <!-- END Group -->
</section>
<!-- END Group -->
