<% content_for :title do %>
活动
<% end %>

<section class="group">
  <ul class="card-list pure-g">
    <% if @events.any? %>
      <%= render partial: "event_item", collection: @events, as: :event %>
      <%= paginate @events %>
    <% else %>
      没有活动。
    <% end %>
  </ul>
</section>
