<% content_for :title do %>
搜索“<%= @keyword %>”
<% end %>

<%= render 'shared/search_tips_header' %>

<section class="panel">
  <ul class="card-list pure-g">
    <% if @events.any? %>
      <%= render partial: "event_item", collection: @events, as: :event %>
    <% else %>
      <div class="pure-u-1">没有活动。</div>
    <% end %>
  </ul>
</section>

<%= paginate @events %>
