# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d3f539adshh8s7sb0751b65c5a4531e5ab781b6ed745124c9a266fb0f7ade05c81b9f9ef9e4addda72e23874a3bc7e1b13bb7365abb2b9beeb548403334e
  host: 'http://jgw.ngrok.com'
  qiniu:
    access_key: WoloGjHR0tX8Y87hv8T2uIAYO4KrfI7EPXw7kRLI
    secret_key: hy7PJgnhiysuis789vpHAB_oGiP7nkQhUkMr0Ges-E
    bucket: jianggao-development
    mps_queue: jianggaodevelopment
  mail:
    user_name: 'jianggaowang@example.com'
    password: 'examplepassword'

test:
  secret_key_base: 2e5a3e0d00945f5b290657dfc8398e2681387a1a155ed7db0f2a45ee4e6c09fa2654f336811e30bbd1c4c0ec488eb33a4f22fcba7661e45406b41b03e2e26ea5

staging:
  secret_key_base: 2fc1c6be9df96e5d543298c6189966b64a392d64452a16400182998cdba52555c425dd9386707f1610f22c999edb52096839cc9e3e802813704715791fa2aba8
  host: 'staging_host'
  mail:
    user_name: 'jianggaowang@example.com'
    password: 'examplepassword'

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: d3f539adshh8s7sb0751b7899831e5ab781b6ed745124c9a266fb0f7ade05c81b9f9ef9e4addda72e23874a3bc7e1b13bb7365abb2b9beeb548403334e
  host: 'production_host'
  qiniu:
    access_key: 'access_key'
    secret_key: 'secret_key'
    bucket: jianggao-production
    mps_queue: jianggaoproduction
  mail:
    user_name: 'jianggaowang@example.com'
    password: 'examplepassword'
