/* the file is place the variable ,for example color or width and height*/
$white: #FFFFFF;
$gray: #808080;
$grayb0: #B0B0B0;
$grayd8: #D8D8D8;
$gray98: #989898;
$grayce: #CECECE;
$blue: #1CB3FF;
$blueff: #50C4FF;
