/* All color variable names should come from http://chir.ag/projects/name-that-color*/
$white: #fff;
$black: #000;
$gray: #808080;
$tundora: #404040;
$silver: #B8B8B8;
$orange : #FE6126;
$scorpion: #5a5a5a;
$alto: #D8D8D8;
$alabaster: #f9f9f9;
$concrete: #f2f2f2;
$mine-shaft: #282828;
$flame-pea: #DC5B30;
$dodger-blue: #13C1FF;
$blue: #1cb3ff;
$dark-blue: #50c4ff;
