@import "variables";

.event .event-content,
.wangEditor-container .wangEditor-txt {
  padding-top: 10px;
  color: $gray;
  word-wrap: pre-wrap;
  word-break: break-all;

  * {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
  }

  a {
    word-break: break-word;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1em 0;
    color: $tundora;
    font-weight: bolder;
  }

  strong,
  b {
    font-weight: bolder;
  }

  ol,ul {
    list-style: inside;
    padding-left: 20px;
  }

  ol {
    list-style-type: decimal;
  }

  img {
    cursor: pointer;
  }

  img.clicked {
    box-shadow: 1px 1px 10px $silver;
  }

  table.clicked {
    box-shadow: 1px 1px 10px $silver;
  }

  blockquote {
    display: block;
    border-left: 8px solid $link-water;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: $concrete;
  }

  table {
    border: none;
    border-collapse: collapse;

    td,
    th {
      border: 1px solid $silver;
      padding: 3px 5px;
      min-width: 50px;
      height: 20px;
    }
  }

  pre {
    border: 1px solid $silver;
    background-color: $alabaster;
    padding: 10px;
    margin: 5px 0px;
    font-size: 0.8em;
    border-radius: 3px;
  }
}
