/* the file is place for common style, for example header component or .clearfix and so on */
@import 'variables';

html {
  height: 100%;
  font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑", "SimHei", "sans-serif";
}

body {
  font-size: 14px;
  position: relative;
  min-height: 100%;
  padding-bottom: $footer-h;
  background-color: $alabaster;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.pure-g {
  padding: 0 10px;

  @media (min-width: 1200px) {
    width: 1160px;
    margin: auto;
  }
}

[class*="pure-u-"] {
  padding: 10px;
}
