@import "variables";

/* event details page */
.event-details {
  padding: 10px 0 20px;
  margin-bottom: 10px;
  background-color: $white;
}

.event {
  .event-cover {
    position: relative;
    height: 0;
    padding-top: 61.92%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .event-title {
    margin-bottom: 10px;
    color: $tundora;
    font-size: 26px;
    font-weight: 200;
  }

  .event-date {
    display: block;
    white-space: nowrap;
  }

  .event-date,
  .event-position,
  .event-slides-num {
    position: relative;
    padding-left: 25px;
    color: $gray;
    line-height: 2em;
    font-size: 14px;

    [class*="icon"] {
      position: absolute;
      top: auto;
      left: 0;
    }
  }

  .event-action {
    padding: 10px 0;

    .btn {
      display: inline-block;
      width: 110px;
      height: 40px;
      border: 1px solid $blue;
      border-radius: 2px;
      color: $white;
      background-color: $dark-blue;
      text-align: center;
      line-height: 38px;
      font-weight: 200;
      box-shadow: inset 0 1px 3px $white;
    }

    .btn-warning {
      background-color: $coral;
      border-color: $orange;
    }

    a + a {
      margin-left: 20px;
    }
  }

}
.event-content,
.wangEditor-container .wangEditor-txt {
  padding-top: 10px;
  color: $gray;
  word-wrap: pre-wrap;
  word-break: break-word;

  * {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
  }

  a {
    word-break: break-word;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1em 0;
    color: $tundora;
    font-weight: bolder;
  }

  strong,
  b {
    font-weight: bolder;
  }

  ol,ul {
    list-style: inside;
    padding-left: 20px;
  }

  ol {
    list-style-type: decimal;
  }

  img {
    cursor: pointer;
  }

  img.clicked {
    box-shadow: 1px 1px 10px #999;
  }

  table.clicked {
    box-shadow: 1px 1px 10px #999;
  }

  pre code {
    line-height: 1.5;
  }

  blockquote {
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
  }

  table {
    border: none;
    border-collapse: collapse;

    td,
    th {
      border: 1px solid #999;
      padding: 3px 5px;
      min-width: 50px;
      height: 20px;
    }
  }

  pre {
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    padding: 10px;
    margin: 5px 0px;
    font-size: 0.8em;
    border-radius: 3px;
  }
}

@media (max-width: 767px) {
  .event {
    .event-cover {
      padding-top: 62.143%;
    }

    .event-title {
      font-size: 16px;
    }

    .event-date,
    .event-position,
    .event-slides-num {
      font-size: 12px;
    }

    .event-action {
      padding-bottom: 0;
      text-align: center;

      .btn {
        width: 80px;
        height: 30px;
        font-size: 12px;
        line-height: 28px;
      }

      a + a {
        margin-left: 40px;
      }
    }

    .event-content {
      padding: 10px;
      font-size: 12px;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .event {
    .event-header {
      height: 290px;

      .event-cover {
        height: 100%;
        padding-top: 0;
      }

      .event-info {
        height: 100%;
        padding-left: 20px;
        position: relative;
      }

      .event-action {
        position: absolute;
        bottom: 0;
        left: auto;
      }
    }
  }
}
