@import "variables";

/* for events_new page and slide_new page */
#events_new,
#slides_new {

  .group {
    margin-bottom: 130px;
  }

  header {
    padding: 0;
  }

  .events-wrap,
  .slides-wrap {
    margin-top: 20px;
  }
}

.file-upload {
  float: left;
  height: 345px;
  background-color: $white;

  .cover {
    margin: 20px 20px 0;
    height: 270px;
    background-color: $concrete;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .cover-upload {
    position: relative;
    margin: 16px 0 0 20px;

    input {
      position: absolute;
      width: 14px;
      height: 15px;
      left: 55px;
      opacity: 0;
    }

    span {
      color: $gray;
      font-size: 12px;
      font-weight: lighter;
      vertical-align: top;
    }

    .upload {
      display: inline-block;
      margin-left: 6px;
      width: 14px;
      height: 15px;
      background-image: image-url("events/icon_upload.png");
      background-size: contain;
    }
  }
}
