@import "variables";

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-h;
  padding: 40px 20px;
  line-height: 20px;
  text-align: center;
  color: $footer-color;
  background-color: $footer-bg;

  > span,
  a {
    white-space: nowrap;
  }

  a {
    color: $footer-link-color;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $footer-link-hover-color;
    }

    &.footer-github {
      margin-left: 20px;
    }
  }

  .icon-github {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .footer {
    height: auto;
    padding: 15px 0 10px;
    font-size: 12px;

    > span,
    > a {
      display: block;
    }

    a.footer-github {
      padding-top: 10px;
      margin-left: 0;
    }
  }
}
