@import "variables";

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-h;
  padding: 30px 20px;
  line-height: 20px;
  text-align: center;
  color: $footer-color;
  background-color: $footer-bg;

  a {
    color: $footer-link-color;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $footer-link-hover-color;
    }
  }

  .icon-github {
    font-size: 20px;
    margin-left: 20px;
  }
}

#sessions_new {
  .footer {
    background-color: transparent;
  }
}
