@import "variables";

/* TODO: group should change to panel */

.group {
  margin-top: 40px;

  & + & {
    margin-top: 5px;
  }

  &.group-for-tag {
    margin-top: 25px;
  }

  &.group-for-article {
    margin-top: 0;
  }

  .group-header {
    display: block;
    font-weight: lighter;

    &,
    a {
      color: $group-link-color;
    }

    .group-title {
      margin: 0;
      padding-bottom: 5px;
      font-size: 20px;
      font-weight: lighter;

      &.group-tag::after {
        content: "";
        display: block;
        margin: 15px 0;
        border-bottom: 1px solid $group-tag-border;
      }
    }

    .group-link {
      float: right;
      padding-top: 14px;
      padding-bottom: 5px;
      text-align: right;
      font-size: 16px;

      &:hover,
      &:focus {
        color: $group-link-hover-color;
      }
    }
  }
}
