@import "variables";

/* TODO: group should change to panel */

.group {
  margin-top: 40px;

  & + & {
    margin-top: 5px;
  }

  &.group-for-tag {
    margin-top: 25px;
  }

  &.group-for-article {
    margin-top: 0;
  }

  .group-header {
    display: block;
    line-height: 30px;
    font-weight: lighter;

    &,
    a {
      color: $group-link-color;
    }

    &.with-hr::after {
      visibility: visible;
      content: "";
      display: block;
      height: 0;
      padding-top: 10px;
      border-top: 1px solid $group-tag-border;
      margin: 10px 10px 0;
    }

    .group-title {
      margin: 0;
      font-size: 20px;
      font-weight: normal;
    }

    .group-link {
      float: right;
      font-size: 16px;
      text-align: right;

      &:hover,
      &:focus {
        color: $group-link-hover-color;
      }
    }

    [class*="pure-u-"] {
      padding-bottom: 0;
    }
  }
}
