header{
  .navbar{
    margin: 0;
  }
  .navbar-inverse .navbar-text,
  .navbar-inverse .navbar-nav > li > a {
    color: #fff;
  }
  .navbar-inverse .navbar-brand,
  .navbar-inverse .navbar-link,
  .navbar-inverse .btn-link{
    color: #fff;
  }
}
.categories{
  background: #4D4D4D;
  padding: 10px 0;
  .categories-list{
    margin: 0 140px;
    li{
      float: left;
      list-style: none;
      margin-right: 30px;
      a{
        color: #D7D7D7;
        font-size: 12px;
      }
    }
  }
}

.page-banner{
  background-image: image-url('banner.jpg');
  height: 352px;
  position: relative;
  .mask{
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .slogan{
    padding-top: 100px;
    text-align: center;
    color: #fff;
    margin: 0;
    position: relative;
    z-index: 1;
  }
  .search-form{
    text-align: center;
    .form-search{
      width: 570px;
      margin: 0 auto;
      .search-icon{
        color: #999;
        top: 20px!important;
      }
    }
    input{
      width: 570px;
      height: 70px;
      font-size: 18px;
      border-radius: 5px!important;
    }
  }
}
