// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.category-featured {
  margin-bottom: 50px;

  .category-title {
    font-weight: bold;
    font-size: 24px;
  }

  .more {
    margin-left: 20px;
    a {
      color: #434a54;
    }
  }
}

.categories-sidebar {
  color: #999;
  .categories-list {
    list-style: none;
    padding-left: 0;

    li {
      margin-left: 2px;
      margin-bottom: 10px;
      a {
        width: 100%;
        display: block;
        margin-left: 20px;
        color: #999;
        &:hover {
          color: #3BAFDA;
        }
      }

      &:hover {
        margin-left: 0;
        border-left: 2px solid #3BAFDA;
      }
    }
  }

  &:hover {
    color: #434a54;
    li {
      a {
        color: #434a54;
      }
    }
  }
}
