/*
 *    Name: JiangGao-iconfont
 *  Author: Beansmile
 * Version: v1.0.2
 *    Date: 2016/04/19
 *   Usage: <i class="icon-search"></i>
 *     Url: http://iconfont.cn
 */

@font-face {
  font-family: "iconfont";
  src: font-url('iconfont.eot?t=1461052847'); /* IE9 */
  src: font-url('iconfont.eot?t=1461052847#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('iconfont.woff?t=1461052847') format('woff'), /* chrome, firefox */
       font-url('iconfont.ttf?t=1461052847') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
       font-url('iconfont.svg?t=1461052847#iconfont') format('svg'); /* iOS 4.1- */
}

[class*="icon-"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search::before { content: "\e601"; }
.icon-github::before { content: "\e600"; }
.icon-menu::before { content: "\e602"; }
.icon-edit::before { content: "\e604"; }
.icon-logout::before { content: "\e605"; }
.icon-upload::before { content: "\e606"; }
.icon-user::before { content: "\e607"; }
.icon-book::before { content: "\e603"; }
.icon-position::before { content: "\e608"; }
.icon-time::before { content: "\e609"; }
.icon-glass::before { content: "\e60a"; }
