@import "variables";

.panel + .pagination,
.card-list + .pagination {
  .page-list {
    padding-top: 0;
  }
}

.pagination {
  margin-left: auto;
  margin-right: auto;

  .page-list {
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: -4px;

    > li {
      display: inline-block;
    }

    .page-ellipsis {
      letter-spacing: 0;
    }
  }
  .page-link {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 1em;
    padding: 16px;
    border: 1px solid $page-border;
    border-radius: 2px;
    margin: 0 5px;
    color: $page-text;
    background-color: $page-bg;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;

    &.disabled {
      display: none;
    }

    &.active,
    &:hover {
      background-color: $page-hover;
    }

    &.page-next,
    &.page-prev {
      line-height: 14px;
    }
  }
}

@media (max-width: 767px) {
  .pagination {
    .page-link {
      width: 40px;
      height: 40px;
      padding: 12px;
      font-size: 14.4px;
    }
  }
}
