@import 'shared/normalize';
@import 'shared/color';

.hide {
  display: none;
}
header {
  width: 100%;
  color: $white;
  background-color: $headercolor;
  a {
    color: $white;
  }
  a:hover {
    color: $hovercolor;
  }
  .navigation {
    position: relative;
    height: 80px;
    overflow: hidden;
    width: 1120px;
    margin:0 auto;
  }
  .nav-logo {
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    overflow: hidden;
    & > a {
      float: left;
      font-size: 19px;
    }
    img {
      vertical-align: middle;
    }
  }
  .menu-list {
    padding-left: 60px;
    padding-top: 10px;
    float: left;
    li {
      float: left;
      margin-left: 25px;
    }
  }
  .search-area {
    padding-left: 60px;
    float: left;
    margin-top: 10px;
  }
  .search-speech {
    width: 280px;
    height: 30px;
    margin-top: -5px;
    border-radius: 2px;
    background: $white;
    input {
      padding: 2px 5px 3px 5px;
      width: 250px;
      height: 30px;
      line-height: 30px;
      color: $headercolor;
      font-size: 13px;
      background: none;
      border: none;
      outline: none;
      vertical-align: 1px;
    }
    img {
      height: 20px;
    }
  }
  .nav-menu {
    @extend .nav-logo;
    right: 0;
    .per-list {
      overflow: hidden;
      & > li {
        float: left;
        margin-left: 10px;
      }
    }
  }
  .update-speech,
  .update-username
  {
    padding: 5px;
  }
}

