@import "variables";

.slides-details-page {
  padding-top: 20px;
  background-color: $white;
}

.slides-content {
  width: 100%;
  height: 0;
  margin-bottom: 10px;
  background-color: $alabaster;

  .slides-img {
    width: 100%;
    height: 0;
    padding-top: 75%;
    position: relative;
    background-color: $white;
    border: 10px solid $white;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%;
    }
  }

  .slider-nav {
    line-height: 20px;
    font-size: 20px;
    color: $gray;
    text-align: center;

    #fullscreen {
      width: 20px;
      height: 20px;
      float: right;
      cursor: pointer;

      .icon-fullscreen {
        font-size: 23px;
      }
    }

    .slider-btn {
      width: 0;
      height: 0;
      padding: 0;
      border: 0;
      margin: 0 10px;
      background: 0;
      text-indent: -9999px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      vertical-align: bottom;

      &.slider-prev {
        border-right: 20px solid $gray;
      }

      &.slider-next {
        border-left: 20px solid $gray;
      }
    }
  }
}

.slides-info,
.slides-operate {
  padding-left: 10px;
  padding-right: 10px;
}

.slides-operate {
  .btn-default + .btn-default {
    margin-left: 20px;
  }

  .slides-watched {
    float: right;
    font-size: 16px;
    line-height: 40px;
    color: $orange;

    .icon-glass {
      margin-right: 10px;
      color: $gray;
    }
  }
}

.slides-tag {
  color: $blue;

  & + & {
    margin-left: 10px;
  }
}

.slides-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.slides-author {
  font-size: 12px;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
}

.slides-author img {
  width: 38px;
  height: 38px;
  border: 1px solid $silver;
  border-radius: 50%;
  vertical-align: middle;
  overflow: hidden;
}

.slides-date,
.slides-belong {
  font-size: 12px;
  margin-left: 30px;
}

.slides-intro {
  line-height: 1.5em;
  color: $gray;

  header {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 200;
  }

  p {
    text-indent: 2em;
    margin: 1em 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $tundora;
    font-weight: bolder;
  }

  strong {
    font-weight: bolder;
  }
}

.slides-recommend {
  padding-left: 50px;
  padding-right: 40px;

  > header {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .card-list {
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .slides-content {
    padding: 10px;

    .slides-img {
      border-width: 5px;
    }

    .slider-nav {
      line-height: 18px;
      font-size: 12px;
      padding-top: 10px;

      #fullscreen {
        width: 18px;
        height: 18px;

        .icon-fullscreen {
          font-size: 18px;
        }
      }

      .slider-btn {
        margin: 2px 7px;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;

        &.slider-prev {
          border-right: 14px solid $gray;
        }

        &.slider-next {
          border-left: 14px solid $gray;
        }
      }
    }
  }

  .slides-operate {
    text-align: center;

    .btn-default {
      width: 80px;
      height: 30px;
      font-size: 12px;
      line-height: 28px;
    }

    .slides-watched {
      display: none;
    }
  }

  .slides-info {
    color: $gray;

    .slides-title {
      font-size: 16px;
    }

    .slides-author {
      float: left;
      padding-bottom: 5px;
    }

    .slides-date,
    .slides-belong {
      margin-left: 22px;
    }
  }
}

@media (min-width: 768px) {
  .slides-content {
    padding: 20px;

    .slider-nav {
      padding-top: 20px;
    }
  }
  .slides-info,
  .slides-operate {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1024px) {
  .slides-content {
    padding: 30px;

    .slider-nav {
      padding-top: 30px;
    }
  }
  .slides-info,
  .slides-operate {
    padding-left: 30px;
    padding-right: 30px;
  }
}
