@import "variable";

#sessions_new {
  background-image: image-url("users/user-bg.svg");
  .user-page {
    display: block;
    margin: 100px auto 0;
    width: 300px;
    .user-title {
      margin-bottom: 50px;
      .logo {
        float: left;
        display: block;
        width: 46px;
        height: 64px;
        background-image: image-url("users/logo.png");
        background-size: 46px 64px;
      }
      p {
        float: left;
        padding-left: 18px;
        color: $gray;
        font-size: 26px;
        font-weight: lighter;
        line-height: 64px;
      }
    }
    .login-register {
      .title {
        display: flex;
        margin-bottom: 27px;
        justify-content: center;
        li {
          display: inline-block;
          width: 60px;
          text-align: center;
          a {
            color: $silver;
            font-size: 16px;
            font-weight: 200;
          }
          &.active {
            border-bottom: 2px solid $blue;
            a {
              color: $gray;
            }
          }
        }
        .register {
          margin-left: 70px;
        }
      }
      form {
        display: none;
        width: 100%;
        input {
          width: 298px;
          height: 44px;
          border: 1px solid $alto;
          color: $silver;
          font-size: 16px;
          text-indent: 20px;
          font-weight: 200;
        }
        .user-name {
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        }
        .password,
        .confirm-password {
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
        }
        input:nth-child(2),
        input:nth-child(3),
        input:nth-child(4) {
          border-top: 0;
        }
        button {
          margin-top: 30px;
          width: 300px;
          height: 44px;
          border: 1px solid $blue;
          border-radius: 2px;
          color: $white;
          background-color: $dark-blue;
          font-weight: 200;
          box-shadow: inset 0 1px 3px $white;
        }
        .forget-password {
          display: block;
          margin: 10px 0 0 230px;
          color: $silver;
          font-size: 14px;
          font-weight: 200;
        }
      }
      form.active {
        display: block;
      }
    }
  }
}
