@import "variables";

#users_create,
#users_new {
  min-height: 800px;

  .user-page {
    height: 660px;
  }
}

#sessions_new,
#sessions_create,
#user_passwords_reset {
  min-height: 500px;

  .user-page {
    height: 390px;
  }
}

#users_new,
#users_create,
#sessions_new,
#sessions_create,
#user_passwords_reset {
  height: 100%;
  background-image: image-url("users/user-bg.svg");

  .wraper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .user-page {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;

    .user-title,
    .login-wrap,
    .find-password {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .user-title {
      margin-bottom: 50px;

      .logo {
        float: left;
        display: block;
        width: 46px;
        height: 64px;
        background-image: image-url("users/logo.png");
        background-size: 46px 64px;
      }

      p {
        float: left;
        padding-left: 18px;
        color: $gray;
        font-size: 26px;
        font-weight: lighter;
        line-height: 64px;
      }
    }

    .login-wrap,
    .find-password {
      width: 300px;

      h2 {
        margin-bottom: 30px;
        color: $gray;
        font-size: 16px;
        font-weight: 200;
        text-align: center;
      }

      p {
        margin-top: 30px;
        color: $silver;
        font-size: 14px;
        font-weight: 200;
      }

      .user-email {
        border-radius: 2px;
      }

      .account-tip {
        display: none;
        margin-top: 12px;
        color: $red;
        font-size: 12px;
      }

      .user-toggle {
        display: flex;
        margin-bottom: 27px;
        justify-content: center;

        li {
          display: inline-block;
          width: 60px;
          padding-bottom: 6px;
          line-height: 1em;
          text-align: center;
          color: $silver;
          font-size: 16px;
          font-weight: 200;
          cursor: pointer;

          &.active {
            border-bottom: 2px solid $blue;
            color: $gray;
          }
          > a {
            color: $gray;
          }
        }

        .register {
          margin-left: 70px;
        }
      }

      .user-info {
        width: 100%;

        .form-group {
          width: 300px;
          position: relative;
          border: 1px solid $alto;

          input,
          textarea {
            border-width: 0;
          }

          .tips {
            position: absolute;
            top: 0;
            left: 100%;
            padding-left: 20px;
            line-height: 44px;
            font-size: 12px;
            color: $red;
            white-space: nowrap;
          }
        }

        .form-group + .form-group {
          border-top: 0;
        }

        input,
        textarea {
          width: 100%;
          height: 44px;
          border: 1px solid $alto;
          color: $silver;
          font-size: 16px;
          padding-left: 20px;
          padding-right: 20px;
          font-weight: 200;
        }

        input {
          line-height: 1em;
        }

        textarea {
          resize: none;
          height: 88px;
          padding-top: 10px;
        }

        .user-bio {
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
        }

        .user-name {
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        }

        input + input,
        textarea {
          border-top: 0;
        }

        input:-webkit-autofill {
          -webkit-text-fill-color: $silver;
        }

        button {
          margin-top: 30px;
          width: 300px;
          height: 44px;
          border: 1px solid $blue;
          border-radius: 2px;
          color: $white;
          background-color: $dark-blue;
          font-weight: 200;
          box-shadow: inset 0 1px 3px $white;
        }

        .forget-password {
          display: block;
          margin: 10px 0 0 230px;
          color: $silver;
          font-size: 14px;
          font-weight: 200;
        }
      }

      .user-login {
        .email,
        .confirm-password,
        .register-btn {
          display: none;
        }

        .password {
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
        }
      }

      .user-register {
        .email,
        .confirm-password,
        .register-btn {
          display: block;
        }

      }
    }
  }

  .user-register-tips {

    > div {
      margin: auto;
    }

    p {
      margin-top: 1.5em;
      text-align: center;
      font-size: 0.8em;
      color: $gray;
    }
  }
}

