body {
  font-family: 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
  background-image: image-url('ricepaper.png');
}

header {
  .navbar {
    border-radius: 0;
    padding: 0 10%;
    background-color: #434a54;

    .navbar-brand-desc {
      font-size: 70%;
    }

    .glyphicon {
      margin-right: 5px;
    }

    .form-search .search-query {
      border-radius: 4px;
    }
  }
}

#content {
  margin: 0 10%;
  margin-bottom: 50px;
}

footer {
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .col-md-12 {
    padding-left: 0;
    padding-right: 0;
  }
}

.pagination {
  li.active {
    a {
      background-color: #4fc1e9;
      border-color: #4fc1e9;
    }
  }
}

.field_with_errors {
  input.form-control {
    border-color: #DA4453;
  }
}

.thumbnail > img, .thumbnail a > img {
  overflow: hidden;
  height: 150px;
}
