// Place all the styles related to the user_passwords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media (min-width: 768px) {
  #user_passwords_reset {
    footer {
      width: 100%;
      position: fixed;
      bottom: 0;
    }
  }
}
