<div class="col-md-3 categories-sidebar">
  <h4>浏览</h4>

  <%= render 'shared/categories_list' %>
</div>

<div class="col-md-9" id='animated'>
  <h5 class='category-title'><%= @category.name %></h5>

  <div>
    <% if @slides.any? %>
      <div class="row">
        <%= render @slides %>
      </div>
    <% else %>
      <div>对不起，当前分类下暂无讲稿</div>
    <% end %>
  </div>

  <% unless @paginate == false %>
    <div class='pagination-container'>
      <%= paginate @slides %>
    </div>
  <% end %>
</div>
