.galleria-theme-classic .galleria-loader {
  background: image-url('galleria/classic/classic-loader.gif') no-repeat 2px 2px;
}

.galleria-theme-classic .galleria-thumb-nav-left,
.galleria-theme-classic .galleria-thumb-nav-right,
.galleria-theme-classic .galleria-info-link,
.galleria-theme-classic .galleria-info-close,
.galleria-theme-classic .galleria-image-nav-left,
.galleria-theme-classic .galleria-image-nav-right {
  background-image: image-url('galleria/classic/classic-map.png');
  background-repeat: no-repeat;
}
