.galleria-theme-fullscreen .galleria-thumbnails-tab {
  background: #000 image-url('galleria/fullscreen/up.gif') no-repeat 50% 5px;
}

.galleria-theme-fullscreen.light .galleria-thumbnails-tab {
  background:#fff image-url('galleria/fullscreen/up-neg.gif') no-repeat 50% 50%;
}

.galleria-theme-fullscreen .galleria-thumbnails-tab.open,
.galleria-theme-fullscreen .galleria-thumbnails-tab.open:hover {
  background-image: image-url('galleria/fullscreen/down.gif');
}
.galleria-theme-fullscreen.light .galleria-thumbnails-tab.open,
.galleria-theme-fullscreen.light .galleria-thumbnails-tab.open:hover {
  background-image: image-url('galleria/fullscreen/down-neg.gif');
}

.galleria-theme-fullscreen .galleria-image-nav-right,
.galleria-theme-fullscreen .galleria-image-nav-left {
  background: image-url('galleria/fullscreen/r.gif') no-repeat 50% 50%;
}
.galleria-theme-fullscreen.smallarrows .galleria-image-nav-right {
  background-image: image-url('galleria/fullscreen/r-neg.png');
}
.galleria-theme-fullscreen .galleria-image-nav-left {
  background-image: image-url('galleria/fullscreen/l.gif');
}
.galleria-theme-fullscreen.smallarrows .galleria-image-nav-left {
  background-image: image-url('galleria/fullscreen/l-neg.png');
}
.galleria-theme-fullscreen .galleria-loader {
  background: #fff image-url('galleria/fullscreen/loader.gif') no-repeat 50% 50%;
}

.galleria-theme-fullscreen .galleria-thumb-nav-left,
.galleria-theme-fullscreen .galleria-thumb-nav-right {
  background: image-url('galleria/fullscreen/p.gif') no-repeat 50% 50%;
}
.galleria-theme-fullscreen.light .galleria-thumb-nav-left{
  background-image: image-url('galleria/fullscreen/p-neg.png');
}
.galleria-theme-fullscreen .galleria-thumb-nav-right {
  background-image: image-url('galleria/fullscreen/n.gif');
}
.galleria-theme-fullscreen.light .galleria-thumb-nav-right{
  background-image: image-url('galleria/fullscreen/n-neg.png');
}
